<% provide(:title, 'Logs – Opto') %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Opto Logs</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <%= render partial: 'filter_form' %>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <%= paginator(@logs) %>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Date/Time</th>
          <th>Controller</th>
          <th>Type</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'log', 
                collection: @logs, 
                        as: :l, 
                    cached: true %>
      </tbody>
    </table>
    <%= bottom_paginator(@logs) %>
  </div>
</div>