<% provide(:title, 'Rejected Parts') %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Rejected Parts</h3>
    <%= link_to fa_icon('plus', text: 'New Rejected Part'), new_qc_rejected_part_path, :class => "btn btn-warning font-weight-bold" %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <%= render partial: 'list', locals: { notes: @rejected_parts } %>
  </div>
</div>