<% cache 'table' do %>
<% provide(:title, 'Thickness Readings') %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Thickness Readings</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12" id="filter_form">
    <%= render partial: 'filter_form', chached: true, locals: { :lists => Thickness::Block.filter_form_lists } %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="col d-xl-table-cell d-lg-table-cell d-md-table-cell d-none">
    <%= paginator(@blocks)%>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="col-3">Block</th>
          <th class="col-3">
            <div class="form-row">
              <div class="col-7">
                Load
              </div>
              <div class="col-5">
                Part
              </div>
            </div>
          </th>
          <th class="col-6">Checks</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'table_row', collection: @blocks, as: :block, cached: true %>
      </tbody>
    </table>
    <%= bottom_paginator(@blocks)%>
  </div>
</div>
<% end %>
