<p id="notice"><%= notice %></p>

<h1>Thickness Readings</h1>

<div class="row">
  <div class="col" id="filter_form">
    <%= render partial: 'filter_form', cached: :true, locals: { notes: @blocks} %>
  </div>
</div>

<div class="row">
  <div class="col" id="list">
    <%= render partial: 'list', locals: { notes: @bbl,
                                        term: params[:with_search_term] } %>
  </div>
</div>
