<% provide(:title, 'Permission Editor') %>
<div class="row mt-3">
  <div class="col">
    <h4>Permission Editor: <code><%= @permission.permission %></code></h4>
    <%= render partial: 'form' %>
  </div>
</div>