<div class="form-row">
  <div class="col-12">
    <%= render partial: 'filter_form' %>
    <ul class="px-0 py-0" style="list-style-type:none;">
      <%= render partial: 'mobile_table_row',
              collection: @salt_spray_tests,
                      as: :s,
                  cached: true,
                  locals: {  } %>
    </ul>
  </div>
</div>

<script type="text/javascript">
$(".carousel").on("touchstart", function(event){
    var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function(event){
        var xMove = event.originalEvent.touches[0].pageX;
        if( Math.floor(xClick - xMove) > 7 ){
            $(this).carousel('next');
            $(this).find('.info').click();
        }
        else if( Math.floor(xClick - xMove) < -7 ){
          $(this).carousel('prev');
        }
    });
    $(".carousel").on("touchend", function(){
            $(this).off("touchmove");
    });
});
jQuery('.accord').click( function(e) {
    jQuery('.collapse').collapse('hide');
});
</script>
