<% provide(:title, 'Salt Spray Tests') %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Shift Notes</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12" id="filter_form">
    <%= render partial: 'filter_form' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render partial: 'list' %>
    </div>
</div>