<% provide(:title, "Specifications") %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Specifications</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col" id="filter_form">
    <%= render partial: 'filter_form', locals: { specifications: @specifications } %>
  </div>
</div>
<div class="row mt-3" id="specifications">
  <%= render partial: 'list', locals: { specifications: @specifications,
                                        term: params[:with_search_term] } %>
</div>