<div class="form-group p-3 m-3 border">
  <h1 class="text-center">New Print Job Rule</h1>
  <%= render 'form', print_job_rule: @print_job_rule %>
  <%= link_to 'Back', print_queue_print_job_rules_path %>
</div>