# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 77d1ba14ee1622da1f8d757df96eeda2ddcbdd8801142a5f2da9d58a1d7f0d57522001bed5b40ca09af09821af51c199b2fcdc161d232e062f437e8fa8a93e60

test:
  secret_key_base: 49faf7f1af7296c045fffe4cc06619689036f6faec01e8db9808dc90f46cb2fc99176abb67230f4e59ea8d1cecb0958bebd9335bf712bc3e23158d6cc4426ed2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
