<% provide(:title, 'Edit Shift Note') %>
<% provide(:button_text, "Save Changes") %>

<div style="max-width: 600px; margin: 0 auto;" class="py-4">
  <%= render partial: 'form' %> 
  <%= render partial: 'comments/comment_list', locals: { :commentable => @shift_note }%>
</div>