<div class="container-flex">
  <% provide(:title, 'Shift Notes') %>
  <div class="row mt-3">
    <div class="col">
      <h3 class="mb-0"><%= yield(:title) %></h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12" id="filter_form">
      <%= render partial: 'filter_form', 
                  locals: { notes: @shift_notes,
                             show: "" },
                  cached: true %>
    </div>
  </div>
  <div class="row" id="shift_notes">
    <div class="col-12">
      <ul class="px-0 py-0" style="list-style-type:none;">
        <%= render partial: 'mobile_row', 
                collection: @shift_notes, 
                        as: :note,
                      term: params[:with_search_term],
                    cached: true %>
      </ul>
    </div>
  </div>
</div>