<% provide(:title, 'Shift Notes') %>

<div class="row p-3">
  <div class="col">
    <h1>Shift Notes</h1>
  </div>
</div>

<div class="row">
  <div class="col" id="filter_form">
    <%= render partial: 'filter_form', locals: { notes: @shift_notes } %>
  </div>
</div>

<div class="row" id="shift_notes">
  <div class="col">
    <%= render partial: 'list', locals: { notes: @shift_notes,
                                      term: params[:with_search_term] } %>
    </div>
</div>