<p id="notice"><%= notice %></p>
<% provide(:title, 'Shift Notes - VMCS-rails') %>
<div class="row mt-3">
  <h3 class="mb-0">Shift Notes</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col" id="filter_form">
    <%= render partial: 'filter_form', locals: { notes: @shift_notes } %>
  </div>
</div>

<%= link_to 'New Shift Note', new_shift_note_path %>

<div class="row mt-3" id="shift_notes">
  <%= render partial: 'list', locals: { notes: @shift_notes,
                                        term: params[:with_search_term] } %>
</div>


