<% provide(:button_text, "Create shift note") %>

<h1>New Shift Note</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'Back', shift_notes_path %>

<div class="row mt-3">
  <div class="col" id="form">
    <%= render partial: 'form', locals: { notes: @shift_notes } %>
  </div>
</div>



