<div class="row mt-3">
  <div class="col">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Printer</th>
          <th>Options</th>
          <th class="text-center">Links</th>
        </tr>
      </thead>
      <tbody>
        <% @print_queues.each do |p| %>
        <tr>
          <td><%= p.name unless p.name.blank? %></td>
          <td><%= p.printer %></td>
          <td><%= p.options %></td>
          <td class="text-center">
            <div class="btn-group" role="group">
              <%= link_to fa_icon('times'),
                          printing_print_queue_path(p),
                          method: :delete,
                          class: 'font-weight-bold btn btn-sm btn-danger',
                          title: 'Delete Print Queue',
                          data: { 
                            confirm: 'Are you sure you want to delete this Print Queue?',                            
                            toggle: 'tooltip' } %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>