<% provide(:title, 'Print Queues') %>
<div class="row mt-3">
  <div class="col">
    <h3 class="mb-0">Print Queues</h3>
  </div>
</div>

<%= link_to 'New Print Queue', new_printing_print_queue_path, class:"btn btn-warning" %> 

<div class="row">
  <div class="col">
    <%= render partial: 'list' %>
  </div>
</div>