<% week_totals = calc_week_totals(week_recs)%>
<table class="table">
  <caption></caption>
  <thead>
    <tr>
      <th class="col-1 text-center">Date</th>
      <th class="col-1 text-right">Hours</th>
      <th class="col-10">Punches</th>
    </tr>
  </thead>
  <tbody>
    <% week_recs.each_with_index do |day_rec, i| %>
    <%= render partial: 'calendar_row', 
          locals: { :hours => (week_totals[i]*4).round/4.0, :recs => day_rec } unless day_rec[2].blank? %>
    <% end %>
    <tr>
      <td class="text-center"><strong>Total:</strong></td>
      <td class="text-right"><%= week_totals.sum %></td>
      <td class="text-muted">
        * Click "Details" to see more info about edited punch.
        <br>
        ** Some values may be wrong until all punches are recorded for the day.
      </td>
    </tr>
  </tbody>
</table>