<div class="col-xs-12 col-sm-12" style="display: block;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="keypad">
                <div class="button-container">
                    <ul class="buttons">
                        <li><button type="button" class="button btn btn-info keypad-button", id="one-button">1</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="two-button">2</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="three-button">3</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="button-container">
                    <ul class="buttons">
                        <li><button type="button" class="btn btn-info keypad-button", id="four-button">4</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="five-button">5</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="six-button">6</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="button-container">
                    <ul class="buttons">
                        <li><button type="button" class="btn btn-info keypad-button", id="seven-button">7</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="eight-button">8</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="nine-button">9</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="button-container">
                    <ul class="buttons">
                        <li><button type="button" class="btn btn-warning keypad-button text-dark", id="del-button">Del</button></li>
                        <li><button type="button" class="btn btn-info keypad-button", id="zero-button">0</button></li>
                        <li><button type="button" class="btn btn-success keypad-button", id="enter-button">Enter</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>