  <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
    <div class="btn-group btn-group-xl">
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary border-bottom-0">1</button>
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary border-bottom-0">2</button>
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary border-bottom-0">3</button>
    </div>
    <div class="btn-group btn-group-xl">
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary border-bottom-0">4</button>
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary border-bottom-0">5</button>
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary border-bottom-0">6</button>
    </div>
    <div class="btn-group btn-group-xl">
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary">7</button>
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary">8</button>
        <button type="button" class="btn btn-circle btn-xl btn-outline-secondary">9</button>
    </div>
</div>

Routes are overwritten so accessing timeclock when not logged in pulls up timeclock/login which has entries in sessions controller