@import "bootstrap";
@import "font-awesome";

@include media-breakpoint-up(sm) {
  body.sessions-controller {
    background-color: $light;
    padding-top: 0;
    .yield-content {
      border: 1px solid $gray-300;
    }
  }
}

@include media-breakpoint-down(xs) {
  .no-nav-xs {
    padding-top: 0 !important;
    .navbar {
      display: none;
    }
  }
}

body {
  padding-top: 57px;
}

.navbar-nav {
  li + li {
    margin-left: $spacer * 0.5;
  }
}

.task-list {
  .list-group-item:last-child {
    border-bottom: none;
  }
}

input + .focus-help {
  display: none;
}
input:focus + .focus-help {
  display: block;
}

.dropdown-right {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.hoverable {
  &:hover {
    .hover-only {
      visibility: visible;
    }
  }
  .hover-only {
    visibility: hidden;
  }
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.embed-fill-height {
  height: 77vh;
}

.max-fill-height {
  max-height: 77vh;
}

mark.bold {
  background-color: yellow;
}

.w-3 {
  width: 3% !important;
}

.w-4 {
  width: 4% !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.classification {
  td {
    border-bottom: none !important;
    border-top: none !important;
  }
}

.specification {
  td {
    border-bottom: none !important;
  }
}

a.collapse-filters {
  &:hover {
    text-decoration: none !important;
  }
  text-decoration: none !important;
}

.trix-td-content {
  max-width: 100%;
  font-weight: 400;
  font-size: 80%;
  img {
    height: auto;
    max-width: 100%;
  }
  ol, ul {
    margin-bottom: 0;
  }
}

.trix-td-content-large {
  max-width: 100%;
  font-weight: 400;
  img {
    height: auto;
    max-width: 100%;
  }
  ol, ul {
    margin-bottom: 0;
  }
}

.trix-button-group--history-tools,
.trix-button--icon-quote,
.trix-button--icon-code {
  display: none !important;
}

trix-toolbar .trix-button-row {
  justify-content: flex-start !important;
  .trix-button-group + .trix-button-group {
    margin-left: 10px;
  }
}