@import "bootstrap";
@import "font-awesome";

@include media-breakpoint-up(sm) {
  body.sessions-controller {
    background-color: $light;
    padding-top: 0;
    .yield-content {
      border: 1px solid $gray-300;
    }
  }
}

@include media-breakpoint-down(xs) {
  .no-nav-xs {
    padding-top: 0 !important;
    .navbar {
      display: none;
    }
  }
}

body {
  padding-top: 57px;
}

.navbar-nav {
  li + li {
    margin-left: $spacer * 0.5;
  }
}

.task-list {
  .list-group-item:last-child {
    border-bottom: none;
  }
}

input + .focus-help {
  display: none;
}
input:focus + .focus-help {
  display: block;
}

.dropdown-right {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.hoverable {
  &:hover {
    .hover-only {
      visibility: visible;
    }
  }
  .hover-only {
    visibility: hidden;
  }
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.embed-fill-height {
  height: 77vh;
}

.max-fill-height {
  max-height: 77vh;
}

mark.bold {
  background-color: yellow;
}

.w-3 {
  width: 3% !important;
}

.w-4 {
  width: 4% !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.classification {
  td {
    border-bottom: none !important;
    border-top: none !important;
  }
}

.specification {
  td {
    border-bottom: none !important;
  }
}

a.collapse-filters {
  &:hover {
    text-decoration: none !important;
  }
  text-decoration: none !important;
}

.trix-td-content {
  max-width: 100%;
  font-weight: 400;
  font-size: 80%;
  img {
    height: auto;
    max-width: 100%;
  }
  ol, ul {
    margin-bottom: 0;
  }
}

.trix-td-content-large {
  max-width: 100%;
  font-weight: 400;
  img {
    height: auto;
    max-width: 100%;
  }
  ol, ul {
    margin-bottom: 0;
  }
}

.trix-button-group--history-tools,
.trix-button--icon-quote,
.trix-button--icon-code {
  display: none !important;
}

trix-toolbar .trix-button-row {
  justify-content: flex-start !important;
  .trix-button-group + .trix-button-group {
    margin-left: 10px;
  }
}

.hidden{
  display: none;
}

// Block button size increase for touch users.
.btn-block2 {
  padding: 2% 0; 
}

// CSS for timeclock numpad.
.keypad-button {
  font-size: 24px;
  line-height: 75px;
  text-align: center;
  height: 75px;
  width: 75px;
  padding: 0;
  border-radius: 100%;
}

.button-container {
  text-align: left;
  float: right;
  left: -50%;
  position: relative;
}

.button-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

.button-container> .buttons {
    left: 50%;
    position: relative;
}

.button-container li {
  float: left;
  display: block;
  margin: 7.5px 7.5px 7.5px;
  list-style-type: none;
}

.tbody {
  border: 1px solid black;
  height: 500px;
  width: 100%;
  display: block;
  overflow-y: scroll;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  .form-control {
    color: red;
  }
}