<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body style="background-color: #dddddd;">

    <div style="background-color: #fff; margin: 1em; overflow: auto;">
      <%= yield %>
    </div>

  </body>

</html>